body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 115, 0);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    font-size: 24px;
}

header .user-info {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .user-info img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

header .user-info span {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

header .dropdown {
    display: none;
    position: absolute;
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

header .dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header .dropdown a:hover {
    background-color: #ddd;
}

header .user-info:hover .dropdown {
    display: block;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

#locales, .local-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.local-card, .local-detail-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.local-card h2, .local-detail-card h2 {
    margin-top: 0;
}

.local-card p, .local-detail-card p {
    margin: 5px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}
